<template>
  <b-container>
    <h3>Article Page</h3>
  </b-container>
</template>

<script>
const axios = require('axios')
export default {
  mounted() {
    axios.get("http://localhost:8000/api/author", [], {
      headers: {
        Authorization: "Bearer" + localStorage.getItem('api_token')
      }
    })
      .then(res => {
        console.log(res)
      })
      .catch(error => {
        console.log(error)
      })
  }
}
</script>