<template>
  <div>
    <b-container v-if="loading" class="text-center">
      <b-spinner label="Spinning"></b-spinner>
    </b-container>
    <b-container v-else fluid class="p-0">
      <b-navbar toggleable="lg" type="dark" class="bg-dark">
        <b-navbar-brand>
          <router-link to="/" class="text-light">My Blog</router-link>
        </b-navbar-brand>
        <b-navbar-nav class="ml-auto">
          <router-link v-if="!isUser" to="/login" class="text-light" right>Login</router-link>
          <span v-else class="text-light" right>
            <span @click="logout" class="mr-3">Logout</span>
            <router-link to="/dashboard" class="text-light">Dashboard</router-link>
          </span>
        </b-navbar-nav>
      </b-navbar>
      <b-card
        v-for=" article in articles"
        :key="article.id"
        @click="singleArticle(article.id)"
        class="m-3 p-2"
      >
        <b-card-text>
          <span style="font-size: 18px">{{article.title}}</span>
          <p class="text-info">
            <span class="text-success">{{article.user.name}}</span>
            <br />
            <span style="font-size: 12px">
              created at: {{article.created_at | moment(" MMM Do, YYYY") }}
              <span
                class="pl-5"
              >Comments: {{article.comments.length}}</span>
            </span>
            <br />
          </p>
          <p>{{article.body.substring(0,1000)+".."}}</p>
        </b-card-text>
      </b-card>
    </b-container>
  </div>
</template>
<script>
const axios = require('axios')
export default {
  data() {
    return {
      articles: [],
      loading: true,
      isUser: false
    }
  },
  mounted() {
    // var user = JSON.parse(localStorage.getItem('user'))
    axios.get('http://localhost:8000/api/home')
      .then(res => {
        console.log(res)
        this.articles = res.data
        this.loading = false
      })
      .catch(err => {
        console.log(err)
      })
    this.islogin()
  },
  methods: {
    singleArticle(id) {
      console.log(id)
      this.$router.push({ name: 'single', params: { articleId: id } })
    },
    islogin() {
      axios.get("http://localhost:8000/api/log", {
        headers: {
          Authorization: "Bearer " + localStorage.getItem('api_token')
        }
      })
        .then(res => {
          console.log('user:', res.data)

          if (res.status == 200) {
            this.isUser = true
          }

        })
    },
    logout() {
      axios.post("http://localhost:8000/api/logout", {
        headers: {
          Authorization: "Bearer " + localStorage.getItem('api_token')
        }
      })
        .then(res => {
          if (res.status == 200) {
            this.isUser = false
            console.log('Logged out')
            localStorage.removeItem("api_token");
            // this.$router.push({ name: "login" });
            console.log('loggedout')
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
}
</script>