<template>
  <b-container fluid class="p-0">
    <b-navbar toggleable="lg" type="dark" class="bg-dark">
      <b-navbar-brand>My Blog</b-navbar-brand>
      <b-navbar-nav class="ml-auto">
        <span v-if="isowner" class="text-light" right @click="logout">Logout</span>
        <router-link v-if="!isowner" to="/login" class="text-light" right>Login</router-link>
      </b-navbar-nav>
    </b-navbar>
    <b-container class="m-5 p-5 shadow">
      <h1>{{article.title}}</h1>
      <small class="pr-2">Created at: {{article.created_at | moment(" MMM Do, YYYY") }}</small>
      <small>Updated at: {{article.updated_at | moment(" MMM Do, YYYY") }}</small>
      <p>{{article.body}}</p>
    </b-container>
    <b-container>
      <span class="text-primary">Comments({{article.comments.length}})</span>
      <b-form v-if="isowner" class="p-2 mb-3" @submit.prevent="submitReply">
        <b-form-textarea
          class="col-8"
          id="textarea"
          v-model="reply"
          placeholder="Write a comment..."
          rows="3"
        ></b-form-textarea>
        <b-button type="submit" class="mt-2" variant="primary">Comment</b-button>
      </b-form>
      <b-container class="mb-2" v-for="comment in article.comments" :key="comment.id">
        <b-row class="h6">{{comment.user.name}}</b-row>
        <b-row class="mt-0">
          <p class="lead">{{comment.comment}}</p>
        </b-row>
        <p v-if="isOwner(comment.user.id)" class="mt-0 pt-0">
          <span class="text-danger" @click="deleteComment(comment.id)">Delete</span>
        </p>
      </b-container>
    </b-container>
  </b-container>
</template>

<script>
const axios = require('axios')

export default {
  data() {
    return {
      article: [],
      reply: '',
      isowner: false,
      comment_users_id: null,
      login_users_id: null,
      isUser: false
    }
  }, methods: {
    islogin() {
      // var user = JSON.parse(localStorage.getItem('user')) || ''
      axios.get("http://localhost:8000/api/log", {
        headers: {
          Authorization: "Bearer " + localStorage.getItem('api_token')
        }
      })
        .then(res => {
          console.log('user:', res.data)

          if (res.status == 200) {
            this.isowner = true
            this.isUser = true
            this.login_users_id = res.data.data.id
          }

        })
    },
    submitReply() {
      // console.log(this.reply)
      // var user = JSON.parse(localStorage.getItem('user'))
      axios.post('http://localhost:8000/api/home/' + this.article.id, {
        'comment': this.reply
      }, {
        headers: {
          Authorization: "Bearer " + localStorage.getItem('api_token')
        }
      })
        .then(res => {
          console.log(res)
          this.reply = null
          this.loadEverything()
        })
        .catch(err => {
          console.log(err)
        })
    },
    loadEverything() {
      const id = this.$route.params.articleId
      axios.get("http://localhost:8000/api/home/" + id)
        .then(res => {
          this.article = res.data
          this.comment_users_id = res.data.user_id

        })
        .catch(error => {
          console.log(error)
        })
    },
    isOwner(comment_users_id) {
      console.log('comment_users_id', comment_users_id)
      if (comment_users_id == this.login_users_id) {
        console.log('true', comment_users_id)
        return true
      }
      else
        return false
    },
    deleteComment(id) {
      console.log('ID', id)
      // var user = JSON.parse(localStorage.getItem('user'))
      axios.delete('http://localhost:8000/api/comment/' + id, {
        headers: {
          Authorization: "Bearer " + localStorage.getItem('api_token')
        }
      })
        .then(res => {
          console.log('res.status', res.status)
          console.log('res', res)
          this.loadEverything()
          this.islogin()
        })
        .catch(err => {
          console.log(err)
        })
    },
    logout() {
      axios.post("http://localhost:8000/api/logout", {
        headers: {
          Authorization: "Bearer " + localStorage.getItem('api_token')
        }
      })
        .then(res => {
          if (res.status == 200) {
            this.isUser = false
            console.log('Logged out')
            localStorage.removeItem("api_token");
            // this.$router.push({ name: "login" });
            console.log('loggedout')
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.loadEverything()
    this.islogin()
  },
  props: {
    articleId: String
  }
}
</script>