

//here
<template>
  <b-container class="p-5">
    <!-- <b-container v-if="showArticle">
      <div class="text-right">
        <b-button @click="close">Close</b-button>
      </div>
      <Article :articleid="articleId" />
    </b-container>-->
    <!-- <b-form v-else @submit.prevent="onArticleSubmit(id)"> -->
    <b-form @submit.prevent="onArticleSubmit(id)" v-for="art in article" :key="art.id">
      <b-form-group label="Article Title" label-for="articleTitle">
        <b-form-input id="articleTitle" v-model="art.title" required />
      </b-form-group>

      <b-form-group label="Article Body" label-for="articleBody">
        <b-form-textarea id="articleBody" v-model="art.body" rows="12" />
      </b-form-group>

      <b-form-group>
        <!-- <b-form-checkbox v-model="art.publish" value="1">Publish Now</b-form-checkbox> -->
        <!-- <b-form-checkbox v-model="publish" value="1">Publish Now</b-form-checkbox> -->
        <b-form-checkbox
          v-if="art.is_published"
          v-model="art.is_published"
          value="1"
          checked="true"
        >Publish Now</b-form-checkbox>
        <b-form-checkbox v-else v-model="art.is_publish" value="1">Publish Now</b-form-checkbox>
      </b-form-group>
      <b-form-group class="text-right">
        <b-button type="submit" variant="primary">Update</b-button>
      </b-form-group>
    </b-form>
  </b-container>
</template>

<script>
import Article from "./Article"
const axios = require('axios')

export default {
  data() {
    return {
      article: [],
      id: '',
      articleTitle: '',
      articleBody: '',
      publish: 0,
      showArticle: false,
      articleId: null
    }
  },
  components: {
    Article
  },
  methods: {
    onArticleSubmit(id) {
      var user = JSON.parse(localStorage.getItem('user')) || ''
      axios.put("http://localhost:8000/api/editArticle/" + this.id,
        this.article
        , {
          headers: {
            Authorization: "Bearer " + user.api_token
          }
        }).then(res => {
          console.log('yooo', res)
          // console.log('data', res.data.id)
          // this.articleId = res.data.id
          // this.showArticle = true
          // this.articleTitle = ""
          // this.articleBody = ""
          // this.publish = 0


          console.log("articleId", this.articleId, " :showArticle ", this.showArticle)
          // this.$router.push({ path: '/article/', id: res.data.id });
          // this.$router.push("/article/" + this.res.data.id)
        }).catch(err => {
          console.log(err)
        })
    },
    close() {
      this.showArticle = false
    }
  },
  mounted() {
    console.log('Article Component')
    // this.id = this.$route.params.id
    // console.log(this.id)
    console.log('articleid:', this.$props.articleid)
    const articleId = this.$props.articleid
    this.id = this.$props.articleid
    const art = this.article
    var data = {
      id: this.id,
      title: this.articleTitle,
      body: this.articleBody,
      created_at: this.createdAt,
      updated_at: this.updatedAt,
      is_publish: this.publish
    }
    var user = JSON.parse(localStorage.getItem('user'))
    axios.get('http://localhost:8000/api/article/' + articleId, data, {
      headers: {
        Authorization: "Bearer " + user.api_token

      }
    })
      .then(res => {
        this.article = res.data
        console.log('Article Component', res.data)
      })
      .catch(err => {
        console.log(err)
      })
  },
  props: {
    articleid: Number
  }
}
</script>