<template>
  <b-row>
    <b-col cols="2" class="bg-dark text-light minHeight fixed">
      <b-container class="p-5">
        <br />
      </b-container>
      <ul class="list-unstyled">
        <li @click="compose">Compose</li>
        <li @click="articles">Article Lists</li>
      </ul>
    </b-col>
    <b-col cols="10" style="background-color: #eeeeee">
      <Index v-if="index" />
      <Create v-if="!index" />
    </b-col>
  </b-row>
</template>

<script>
import Create from './author/Create'
import Index from './author/Index'
export default {
  data() {
    return {
      index: true
    }
  },
  components: {
    Create,
    Index
  },
  methods: {
    compose() {
      // this.create = true
      this.index = false
    },
    articles() {
      console.log('articles clicked')
      this.index = true
    }
  }
}
</script>
<style>
.minHeight {
  min-height: 100vh;
}
</style>