<template>
  <b-container fluid class="p-0">
    <!-- <b-row> -->
    <b-navbar toggleable="lg" type="dark" class="bg-dark">
      <b-navbar-brand>
        <router-link to="/" class="text-light">Home</router-link>
      </b-navbar-brand>
      <b-navbar-nav class="ml-auto">
        <span class="text-light" right @click="logout">Logout</span>
      </b-navbar-nav>
    </b-navbar>
    <!-- </b-row> -->
    <b-container fluid>
      <Reader v-if="reader"></Reader>
      <Author v-if="author"></Author>
      <Admin v-if="admin"></Admin>
    </b-container>
  </b-container>
</template>

<script>
import Reader from "./Reader.vue"
import Author from "./Author.vue"
import Admin from "./Admin.vue"
import Create from "./author/Create.vue"

const axios = require('axios')

export default {
  components: {
    Reader,
    Author,
    Admin,
    Create
  },
  data() {
    return {
      admin: null,
      author: null,
      reader: null,
      create: false,
      createProp: ''
    }
  },
  mounted() {
    // var user = JSON.parse(localStorage.getItem('user')) 
    axios.get("http://localhost:8000/api/log", {
      headers: {
        Authorization: "Bearer " + localStorage.getItem('api_token')
      }
    })
      .then(res => {
        console.log('user:', res.data)
        if (res.status == 200) {
          var role = res.data.data.role
          console.log('role', role)
          if (role == "ADMIN")
            this.admin = true
          if (role == "AUTHOR")
            this.author = true
          if (role == "READER")
            this.reader = true
        }
      })
  },
  methods: {
    logout() {
      // var user = JSON.parse(localStorage.getItem('user'))
      axios.post("http://localhost:8000/api/logout", {
        headers: {
          Authorization: "Bearer " + localStorage.getItem('api_token')
        }
      })
        .then(res => {
          if (res.status == 200) {
            console.log('Logged out')
            localStorage.removeItem("user");
            this.$router.push({ name: "login" });
            console.log('loggedout')
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    compose() {
      // console.log('emit')
      // this.$emit('composeClicked');
      if (this.author == true) {
        this.createProp = "/createArticle"
      }

    },
    showSomething() {
      console.log("Child here")
    }
  }
}
</script>