<template>
  <b-container>
    <div class="text-center" v-for="a in article" v-bind:key="a.id">
      <h3 class="pb-2">
        <span class="text-danger" v-if="!a.is_published">Private:</span>
        {{a.title}}
      </h3>
      <span>created at: {{a.created_at | moment(" MMM Do, YYYY, h:mm:ss a") }}</span>
      <p>{{a.body}}</p>
    </div>
  </b-container>
</template>
<script>
const axios = require('axios')
export default {
  data() {
    return {
      article: []
    }
  },
  mounted() {
    console.log('Article Component')
    // this.id = this.$route.params.id
    // console.log(this.id)
    console.log(this.$props.articleid)
    const articleId = this.$props.articleid;
    // var user = JSON.parse(localStorage.getItem('user'))
    axios.get('http://localhost:8000/api/article/' + articleId, {
      headers: {
        Authorization: "Bearer " + localStorage.getItem('api_token')

      }
    })
      .then(res => {
        this.article = res.data
        console.log('Article Component')
      })
      .catch(err => {
        console.log(err)
      })
  },
  props: {
    articleid: Number
  }
}
</script>