<template>
  <b-container class="p-5">
    <b-container v-if="showArticle">
      <div class="text-right">
        <b-button @click="close">Close</b-button>
      </div>
      <Article :articleid="articleId" />
    </b-container>
    <b-form v-else @submit.prevent="onArticleSubmit">
      <b-form-group label="Article Title" label-for="articleTitle">
        <b-form-input id="articleTitle" v-model="articleTitle" required />
      </b-form-group>

      <b-form-group label="Article Body" label-for="articleBody">
        <b-form-textarea id="articleBody" v-model="articleBody" rows="12" />
      </b-form-group>

      <b-form-group>
        <b-form-checkbox v-model="publish" value="1">Publish Now</b-form-checkbox>
      </b-form-group>
      <b-form-group class="text-right">
        <b-button type="submit" variant="primary">Post</b-button>
      </b-form-group>
    </b-form>
  </b-container>
</template>

<script>
import Article from "./Article"
const axios = require('axios')

export default {
  data() {
    return {
      articleTitle: '',
      articleBody: '',
      publish: 0,
      showArticle: false,
      articleId: null
    }
  },
  components: {
    Article
  },
  methods: {
    onArticleSubmit() {
      // var user = JSON.parse(localStorage.getItem('user'))
      axios.post("http://localhost:8000/api/addArticle", {
        'title': this.articleTitle,
        'body': this.articleBody,
        'is_published': this.publish
      }, {
        headers: {
          Authorization: "Bearer " + localStorage.getItem('api_token')
        }
      }).then(res => {
        console.log('yooo', res)
        console.log('data', res.data.id)
        this.articleId = res.data.id
        this.showArticle = true
        this.articleTitle = ""
        this.articleBody = ""
        this.publish = 0

        console.log("articleId", this.articleId, " :showArticle ", this.showArticle)
        // this.$router.push({ path: '/article/', id: res.data.id });
        // this.$router.push("/article/" + this.res.data.id)
      }).catch(err => {
        console.log(err)
      })
    },
    close() {
      this.showArticle = false
    }
  }
}
</script>