<template>
  <b-container class="p-5">
    <Article :articleid="id" v-if="index" />
    <b-form v-else @submit.prevent="onArticleSubmit">
      <b-form-group label="Article Title" label-for="articleTitle">
        <b-form-input id="articleTitle" v-model="articleTitle" required />
      </b-form-group>

      <b-form-group label="Article Body" label-for="articleBody">
        <b-form-textarea id="articleBody" v-model="articleBody" rows="12" />
      </b-form-group>

      <b-form-group>
        <b-form-checkbox v-model="publish" value="1">Publish Now</b-form-checkbox>
      </b-form-group>
      <b-form-group class="text-right">
        <b-button type="submit" variant="primary">Post</b-button>
      </b-form-group>
    </b-form>
  </b-container>
</template>
<script>
import Article from './Article'
const axios = require('axios')
export default {
  data() {
    return {
      articleTitle: '',
      articleBody: '',
      publish: '',
      index: false
    }
  },
  components: {
    Article
  },
  methods: {
    onArticleSubmit() {
      console.log('Title', this.articleTitle)
      console.log('Body', this.articleBody)
      console.log('publish', this.publish)
      // var user = JSON.parse(localStorage.getItem('user'))
      var data = {
        id: this.id,
        title: this.articleTitle,
        body: this.articleBody,
        is_published: this.publish
      }
      console.log("................", data)
      axios.put("http://localhost:8000/api/editArticle/" + this.id, data,
        {
          headers: {
            Authorization: "Bearer " + localStorage.getItem('api_token')
          }
        }).then(res => {
          console.log('yooo', res)
          this.index = true


        }).catch(err => {
          console.log(err)
        })
    },
  },
  mounted() {
    const id = this.$props.articleid
    // var user = JSON.parse(localStorage.getItem('user'))
    axios.get("http://localhost:8000/api/home/" + id, {
      headers: {
        Authorization: "Bearer " + localStorage.getItem('api_token')
      }
    }).then(res => {
      console.log(res.data)
      this.id = res.data.id
      this.articleTitle = res.data.title;
      this.articleBody = res.data.body;
      this.publish = res.data.is_published
      console.log(this.articleTitle);

    })
      .catch(error => {
        console.log(error)
      })
  },
  props: {
    articleid: Number
  }
}
</script>