<template>
  <div>
    <b-row v-if="index">
      <h1>Posts</h1>
      <b-container v-if="loading" class="text-center">
        <b-spinner label="Spinning"></b-spinner>
      </b-container>
      <b-container v-else>
        <ul
          v-for="article in articles"
          v-bind:key="article.id"
          class="list-unstyled border border-bottom-0 m-2"
        >
          <li class="p-3 border-bottom">
            <b-container>
              <b-row>{{article.title}}</b-row>
              <b-row>
                <b-col cols="4">
                  <span
                    style="font-size:0.8em"
                  >{{article.created_at | moment(" MMM Do, YYYY, h:mm:ss a") }}</span>
                </b-col>
                <b-col cols="8" class="text-right">
                  <ul class="list-inline">
                    <li class="list-inline-item" @click="showEdit(article.id)">Edit</li>
                    <li class="list-inline-item" @click="showView(article.id)">View</li>
                    <li
                      class="list-inline-item"
                      v-b-modal="'myModal'+article.id"
                      @click="deleteArticle(article.id)"
                    >Delete</li>
                    <!-- <b-modal :id="'myModal'+article.id" hide-footer>
                      <template v-slot:modal-title>Delete this article?</template>
                      <h6>{{article.title}}</h6>
                      <p>{{article.body.substring(0,150)+".."}}</p>
                      <b-button @click="deleteArticle(article.id)">Delete</b-button>
                    </b-modal>-->
                  </ul>
                </b-col>
              </b-row>
            </b-container>
          </li>
        </ul>
      </b-container>
    </b-row>
    <b-row v-if="view">
      <b-button class="m-3" @click="close">Back</b-button>
      <Article :articleid="articleId" />
    </b-row>
    <b-row v-if="edit">
      <Edit :articleid="articleId" />
    </b-row>
  </div>
</template>

<script>
import { BSpinner } from 'bootstrap-vue'
import Article from "./Article"
import Edit from "./Edit"

const axios = require('axios')

export default {
  data() {
    return {
      loading: true,
      articles: [],
      index: true,
      view: false,
      edit: false,
      articleId: null,
    }
  },
  components: {
    'b- spinner': BSpinner,
    Article,
    Edit
  },
  methods: {
    showView(id) {
      this.view = true
      this.index = false
      this.edit = false
      this.articleId = id
      console.log('articleID', this.articleId)
      console.log(this.view)
    },
    showEdit(id) {
      this.edit = true
      this.index = false
      this.view = false
      this.articleId = id
    },
    deleteArticle(id) {
      console.log(id)
      // var user = JSON.parse(localStorage.getItem('user'))
      axios.delete('http://localhost:8000/api/deleteArticle/' + id, {
        headers: {
          Authorization: "Bearer " + localStorage.getItem('api_token')
        }
      })
        .then(res => {
          console.log(res)
          console.log(res.status)
          if (res.status == 204) {
            // this.$emit("close")
            // this.show = false
            // this.$refs.myModal + id.close()
            this.loadAll()
          }

        })
    },
    close() {
      this.view = false
      this.index = true
      this.edit = false
    },
    loadAll() {
      axios.get("http://localhost:8000/api/articles", {
        headers: {
          Authorization: "Bearer " + localStorage.getItem('api_token')
        }
      })
        .then(res => {
          this.loading = false
          this.articles = res.data
          console.log(res)
          console.log(res.data)
        })
    }
  },
  mounted() {
    // var user = JSON.parse(localStorage.getItem('user'))
    this.loadAll()
  }
}
</script>