<template>
  <div>
    <router-view />
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'

const axios = require('axios')

export default {
  name: 'app',
  components: {
  },
  data() {
    return {
      activeState: false,
      role: ''
    }
  },
  methods: {

  },
  mounted() {
    // var user = JSON.parse(localStorage.getItem('user')) || ''
    // axios.get("http://localhost:8000/api/log", {
    //   headers: {
    //     Authorization: "Bearer " + user.api_token
    //   }
    // })
    //   .then(res => {
    //     console.log('user:', res.data)
    //     if (res.data.status == 200) {
    //       this.activeState = true
    //       this.role = res.data.role
    //     }
    //   })
  }
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
