<template>
  <b-container class="pt-5">
    <b-row class="flex-column">
      <b-col class="mt-5 shadow p-5" cols="6" align-self="center">
        <div v-if="showLogin">
          <h4 class="text-center">Login</h4>
          <b-form @submit.prevent="onLoginSubmit">
            <b-form-group label="Email address" label-for="userEmail">
              <b-form-input id="userEmail" v-model.trim="$v.userEmail.$model" />
              <small class="text-danger" v-if="!$v.userEmail.email">Please insert Email</small>
            </b-form-group>

            <b-form-group id="password-input" label="Password" label-for="userPassword">
              <b-form-input id="userPassword" type="password" v-model.trim="$v.userPassword.$model"></b-form-input>
              <small class="text-danger" v-if="!$v.userPassword.minLength">Password is required</small>
              <small class="text-danger" v-for="obj in errorUserEmail" :key="obj">{{obj}}</small>
            </b-form-group>
            <b-button type="submit" variant="primary">Login</b-button>
            <b-row>
              <b-col class="ml-auto mr-auto pt-2 text-right">
                <span @click="loadRegister">Register here</span>
              </b-col>
            </b-row>
          </b-form>
        </div>
        <div v-if="!showLogin">
          <h4 class="text-center">Register</h4>
          <b-form @submit.prevent="onRegisterSubmit">
            <b-form-group id="fullName-input" label="Full Name" label-for="fullName">
              <b-form-input id="fullName" type="text" v-model.trim="$v.fullName.$model"></b-form-input>
              <small class="text-danger" v-if="!$v.fullName.minLength">Please insert Full name</small>
            </b-form-group>

            <b-form-group id="email-input" label="Email address" label-for="email">
              <b-form-input
                id="email"
                on:change="changeErrorEmail"
                type="email"
                v-model.trim="$v.email.$model"
              ></b-form-input>
              <small class="text-danger" v-if="!$v.email.email">Please insert email</small>
              <small class="text-danger" v-for="obj in errorEmail" :key="obj">{{obj}}</small>
            </b-form-group>

            <b-form-group id="password-input" label="Password" label-for="password">
              <b-form-input id="password" type="password" v-model.trim="$v.password.$model"></b-form-input>
              <small
                class="text-danger"
                v-if="!$v.password.minLength"
              >Please password with atleast 6 characters</small>
            </b-form-group>

            <b-form-group
              id="confirmPassword-input"
              label="Confirm Password"
              label-for="confirmPassword"
            >
              <b-form-input
                id="confirmPassword"
                type="password"
                v-model.trim="$v.confirmPassword.$model"
              ></b-form-input>
              <small
                class="text-danger"
                v-if="!$v.confirmPassword.sameAsPassword"
              >Confirm Password doesnot match</small>
            </b-form-group>

            <b-button type="submit" variant="primary">Register</b-button>
            <b-row>
              <b-col class="ml-auto mr-auto pt-2 text-right">
                Already have an account?
                <span @click="loadLogin">Login</span>
              </b-col>
            </b-row>
          </b-form>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { required, minLength, sameAs, email, between } from 'vuelidate/lib/validators'

const axios = require('axios')

export default {
  data() {
    return {
      showLogin: true,
      fullName: '',
      email: '',
      password: '',
      confirmPassword: '',
      userEmail: '',
      userPassword: '',
      errorUserEmail: [],
      errorEmail: [],
      errorPassword: false,
      errorConfirmPassword: false,
      errors: {},
      error: '',
      // error: false,
      name: '',
      age: 0
    }
  },

  validations: {
    name: {
      required,
      minLength: minLength(4)
    },
    age: {
      between: between(20, 30)
    },
    fullName: {
      required,
      minLength: minLength(5),
      error: true
    },
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(6)
    },
    confirmPassword: {
      sameAsPassword: sameAs('password')
    },
    userEmail: {
      required,
      email,
      pending: true
    },
    userPassword: {
      required,
      minLength: minLength(6)
    }
  },

  methods: {
    loadLogin() {
      this.showLogin = true
    },

    loadRegister() {
      this.showLogin = false
    },
    onLoginSubmit() {
      this.$v.$touch()
      if (this.$v.userEmail.$invalid) {
        this.error = true
        this.errors['userEmail'] = "Error email"
      } else {
        this.error = false
      }
      axios.post('http://localhost:8000/api/login', { email: this.userEmail, password: this.userPassword })
        .then(res => {
          console.log(res)
          console.log(res.status)
          if (res.status == 200) {
            // var user = { "api_token": res.data.data.api_token, "email": res.data.data.email }
            localStorage.setItem('api_token', res.data.data.api_token)
            var role = res.data.data.role
            this.$router.push({ name: "dashboard" });
            // console.log(role)
            // switch (role) {
            //   case 'ADMIN':
            //     this.$router.push("/admin")
            //     break
            //   case 'AUTHOR':
            //     this.$router.push("/author")
            //     break
            //   case 'READER':
            //     this.$router.push('/reader')
            //     break
            // }
          }
        })
        .catch(err => {
          console.log(err)
        })

    },
    onRegisterSubmit() {
      console.log(this.name);
      axios.post("http://localhost:8000/api/register/", {
        name: this.fullName,
        email: this.email,
        password: this.password,
        password_confirmation: this.confirmPassword
      })
        .then(res => {
          console.log("data:", res.data)
          const status = JSON.parse(res.status)
          if (res.status == 201) {

            console.log('Registered');
            // var user = { "api_token": res.data.data.api_token, "email": res.data.data.email }
            localStorage.setItem('api_token', res.data.data.api_token)
            var role = res.data.data.role
            this.$router.push({ name: "dashboard" });
          }
        })
        .catch(error => {
          this.errorEmail = error.response.data.errors.email;
          console.log('message', error.response.data.errors)
          console.log('stringified', this.errorEmail)
          this.password = ""
          this.confirmPassword = ""
          // console.log("errorssss", error)
          // const status = JSON.parse(error.response.status);
          // console.log(status)
        })

    }
  },
  mounted() {

    // axios.get('http://localhost:8000/api/login', [], {
    //   headers: {
    //     Authorization: "Bearer" + localStorage.getItem('api_token')
    //   }
    // })

  }
}
</script>
